
#map-region {
	margin-top: 12px;
}

#filters {
	margin-top: 12px;
}

#filters {
	outline-color: black;	
}

#info {
	margin-left: 2px;
}

.filt-button {
	margin-bottom: 2px;
	margin-right: 2px;
}

#title {
	color: #EC2227;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.centered {
	text-align: center
}

.centerImage
{
	margin:auto;
	display:block;
}

.pt-sans {
	font-family: "PT sans";
}