
body {
	margin-left: 470px;
	font-family: "PT sans";
}

img {
	margin-top: 10px;
	float: left;
	height: 90px;
	margin-right: 25px;
}

h2 {
	margin-top: 20px;
	margin-left: 25px;
}

h3 {
	margin-top: 100px;
	margin-left: 320px;
}
.editable{
	contenteditable="true";

}

.container {
	text-align: left;
}

ul {
	list-style-position: inside;

} 

#title {
	color: #EC2227;
}


